doc/vwire-flow.json
[{"id":"dac02ac.7c0cfd8","type":"inject","z":"3fb722ba.d2ad0e","name":"Manage","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":240.25001525878906,"y":219.00001525878906,"wires":[["71d74e44.dcc738"]]},{"id":"71d74e44.dcc738","type":"vwire","z":"3fb722ba.d2ad0e","name":"WHO","params":"444b5850.a7525","noack":false,"x":410,"y":220,"wires":[["b09a40e0.48a8f","848fdf2e.fd9aa8"]]},{"id":"e23dde20.82334","type":"vwire-in","z":"3fb722ba.d2ad0e","name":"","params":"50975.5c35ee8bc","x":210,"y":320,"wires":[["661165c4.91466c"]]},{"id":"1ed3b9ad.f59fde","type":"vwire","z":"3fb722ba.d2ad0e","name":"STP","params":"444b5850.a7525","noack":false,"x":330,"y":120,"wires":[[]]},{"id":"d9289261.815c18","type":"inject","z":"3fb722ba.d2ad0e","name":"Stop","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":120,"wires":[["1ed3b9ad.f59fde"]]},{"id":"171801a2.58e246","type":"vwire","z":"3fb722ba.d2ad0e","name":"STA","params":"444b5850.a7525","noack":false,"x":330,"y":60,"wires":[[]]},{"id":"42e28edc.a0a92","type":"inject","z":"3fb722ba.d2ad0e","name":"Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":60,"wires":[["171801a2.58e246"]]},{"id":"848fdf2e.fd9aa8","type":"debug","z":"3fb722ba.d2ad0e","name":"","active":true,"console":"false","complete":"false","x":1090,"y":120,"wires":[]},{"id":"b09a40e0.48a8f","type":"delay","z":"3fb722ba.d2ad0e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":220,"wires":[["2c8e9998.1ba42e"]]},{"id":"2c8e9998.1ba42e","type":"vwire","z":"3fb722ba.d2ad0e","name":"GET","params":"444b5850.a7525","noack":false,"x":750,"y":220,"wires":[["4a324769.925888","848fdf2e.fd9aa8"]]},{"id":"977751f0.568288","type":"vwire","z":"3fb722ba.d2ad0e","name":"RSC","params":"444b5850.a7525","noack":false,"x":1090,"y":200,"wires":[["848fdf2e.fd9aa8"]]},{"id":"4a324769.925888","type":"delay","z":"3fb722ba.d2ad0e","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":220,"wires":[["977751f0.568288"]]},{"id":"58e0c18f.31d31","type":"inject","z":"3fb722ba.d2ad0e","name":"LCD","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":480,"wires":[["faa4023f.dc5fa8"]]},{"id":"faa4023f.dc5fa8","type":"vwire","z":"3fb722ba.d2ad0e","name":"I2C:16","params":"444b5850.a7525","noack":true,"x":370,"y":480,"wires":[["343e8da2.78910a"]]},{"id":"9e418876.4858c8","type":"vwire","z":"3fb722ba.d2ad0e","name":"CLR","params":"444b5850.a7525","noack":true,"x":530,"y":480,"wires":[["c1df89dc.96406"]]},{"id":"aaaaa1ed.ecd57","type":"vwire","z":"3fb722ba.d2ad0e","name":"STR:Hello World!","params":"444b5850.a7525","noack":true,"x":710,"y":480,"wires":[["95daa833.4bf768"]]},{"id":"259fa3f7.614a54","type":"vwire","z":"3fb722ba.d2ad0e","name":"I2C:1","params":"444b5850.a7525","noack":true,"x":910,"y":480,"wires":[[]]},{"id":"343e8da2.78910a","type":"delay","z":"3fb722ba.d2ad0e","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":540,"wires":[["9e418876.4858c8"]]},{"id":"c1df89dc.96406","type":"delay","z":"3fb722ba.d2ad0e","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":540,"wires":[["aaaaa1ed.ecd57"]]},{"id":"95daa833.4bf768","type":"delay","z":"3fb722ba.d2ad0e","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":540,"wires":[["259fa3f7.614a54"]]},{"id":"1bb61bbf.abd4f4","type":"ui_gauge","z":"3fb722ba.d2ad0e","name":"","group":"3cbab514.0243fa","order":0,"width":0,"height":0,"gtype":"gage","title":"x","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":990,"y":280,"wires":[]},{"id":"661165c4.91466c","type":"function","z":"3fb722ba.d2ad0e","name":"Etract data from accelerometer","func":"if (msg.payload.deviceId == 19) {\n    var data = msg.payload.data;\n    return [\n        {payload: data[0]},\n        {payload: data[1]},\n        {payload: data[2]}\n    ];\n} else {\n    return [null, null, null];\n}","outputs":"3","noerr":0,"x":701.2500152587891,"y":329.25001525878906,"wires":[["1bb61bbf.abd4f4"],["b0cc66ff.29ee78"],["9467c29d.0eef28"]]},{"id":"b0cc66ff.29ee78","type":"ui_gauge","z":"3fb722ba.d2ad0e","name":"","group":"3cbab514.0243fa","order":0,"width":0,"height":0,"gtype":"gage","title":"y","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":1029.050048828125,"y":352.04998779296875,"wires":[]},{"id":"9467c29d.0eef28","type":"ui_gauge","z":"3fb722ba.d2ad0e","name":"","group":"3cbab514.0243fa","order":0,"width":0,"height":0,"gtype":"gage","title":"z","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":970,"y":400,"wires":[]},{"id":"d59089fa.8b4da","type":"inject","z":"3fb722ba.d2ad0e","name":"Slow down","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":160,"wires":[["ecbb463f.4f43"]]},{"id":"ecbb463f.4f43","type":"vwire","z":"3fb722ba.d2ad0e","name":"SET:3","params":"444b5850.a7525","noack":false,"x":370,"y":160,"wires":[[]]},{"id":"444b5850.a7525","type":"vwire-config","z":"","port":"/dev/ttyUSB0","baudrate":"115200"},{"id":"50975.5c35ee8bc","type":"vwire-config","z":"","port":"/dev/ttyUSB0","baudrate":"115200"},{"id":"3cbab514.0243fa","type":"ui_group","z":"","name":"Default","tab":"c1f7c00c.dad6f","disp":true,"width":"6"},{"id":"c1f7c00c.dad6f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]